/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  line-height: 1.6;
  margin: 10px 120px 10px 120px;
  border: 1px solid #ffd24a;
  border-radius: 2px;

}


#site_header {
  background-color: #ff8523;
  padding: 15px 20px 15px 20px;
}

#logo {
  background-color: #ff8523;


}
.main_navigation {
  margin: 30px 1px 30px 1px;
}

.main_navigation a{
  color: white;
  padding-top:10px;
  padding-right:40px;
  padding-bottom:10px;
  padding-left:40px;
  border: 1px solid white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
}

#page_content{
  padding: 20px;
}

h2{
  color: #1fabe5;
}

h3{
  color: #1fabe5;
}

a{
  color: #1fabe5;
}

td{
  border: 1px;
  border-color: #1fabe5;
}
thead{
  
}
